[submodule "3rdparty/tokenizers-cpp"]
	path = 3rdparty/tokenizers-cpp
	url = https://github.com/mlc-ai/tokenizers-cpp.git
[submodule "3rdparty/3rdparty/qt-material"]
	path = 3rdparty/3rdparty/qt-material
	url = https://github.com/redtide/qt-material.git
[submodule "3rdparty/qt-material"]
	path = 3rdparty/qt-material
	url = https://github.com/redtide/qt-material.git
