# 大文件
*.onnx
*.onnx.data
*.pdb
*.zip

# ONNX Runtime
3rdparty/onnxruntime-win/

# 构建目录
build/
cmake-build-debug/
cmake-*/
build-release/
build-*/

# IDE
.idea/
.qtcreator/
.claude/

# 输出
*.exe
*.dll
windows-package/

# IDE 文件
.idea/workspace.xml
.vscode/

# 子模块修改（临时）
3rdparty/qt-material/
